<h3 class="ui header">Blogs</h3>
<table class="ui celled table segment">
	<tbody>
		{{#each blogs}}
			<tr data-id="{{id}}" class="blog-show">
				<td>{{title}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>