<div class="ui grid">
    <div class="column eight wide">
        <h2 class="ui header">Contact Us</h2>
    </div>
    <div class="column eight wide">
        
    </div>
</div>
<form id="contact-form" class="ui error form segment">
    <div class="field">
        <label>Name</label>
        <input type="text" name="name" value="{{name}}" />
    </div>
    <div class="field">
        <label>Email</label>
        <input type="text" name="email" value="{{email}}" />
    </div>
    <div class="field">
        <label>Phone</label>
        <input type="text" name="phone" value="{{phone}}" />
    </div>
    <div class="field">
        <label>Message</label>
        <textarea name="message">{{{message}}}</textarea>
    </div>
    <div class="ui teal submit button contact-submit">Contact Submit</div>
</form>

<div class="ui modal contact-modal">
    <i class="close icon"></i>
    <div class="header">Message Received</div>
    <div class="content">
        <div>We will be in touch soon.</div>
    </div>
    <div class="actions">
        <div class="ui positive button">Okay</div>
    </div>
</div>