<div class="ui grid">
	<div class="column eight wide">
		<h2 class="ui header">Blogs</h2>
	</div>
	<div class="column eight wide">
		<a class="blog-button blog-add-button ui button teal">Add</a>
	</div>
</div>
<table class="ui celled table segment table-edit">
  	<thead>
    	<tr>
    		<th>Post Title</th>
	  	</tr>
	</thead>
	<tbody>
		{{#each blogs}}
			<tr data-id="{{id}}" class="blog-show">
				<td>{{title}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>