<form id="contact-form" class="ui error form segment">
    <div class="field">
        <label>Name</label>
        <input type="text" name="name" value="{{name}}" />
    </div>
    <div class="field">
        <label>Email</label>
        <input type="text" name="email" value="{{email}}" />
    </div>
    <div class="field">
        <label>Phone</label>
        <input type="text" name="phone" value="{{phone}}" />
    </div>
    <div class="field">
        <label>Message</label>
        <textarea name="message">{{{message}}}</textarea>
    </div>
    <div class="ui blue submit button contact-submit">Contact Submit</div>
</form>